.quiz_guide {
	text-align: center;
	padding: 20px;
}

.quiz {
	width: 100%;
	height: auto;
}

#quiz_title {
	letter-spacing: 6px;
	font-weight: bold;
}


.questions {
	width: 70%;
    float: left;
	display: inline-block;
	position: relative;
	padding: 10px 0 10px 0;
}

.answers {
	width: 30%;
    float: right;
	display: inline-block;
	position: relative;
	padding: 10px 0 10px 0;
	letter-spacing: 5px;
}

.submit_button {
	width: 100%;
	float: left;
	display: inline-block;
	position: relative;
}